/Cards_Demo/build/
/Cards_Demo/dist/
/Yahtzee_demo/build/
/Yahtzee_demo/dist/
/Yahtzee_demo2/build/
/Yahtzee_demo2/dist/
/Write_test/build/
/Write_test/dist/
/CppApplication_1/build/
/CppApplication_1/dist/
/SHA_Test_v2/build/
/SHA_Test_v2/dist/
/Grading/dist/
/Grading/build/
/Yahtzee_2/build/
/Yahtzee_2/dist/
/StaticDemo/dist/
/StaticDemo/build/
/ArrayDemo/build/
/ArrayDemo/dist/
/Yahtzee_3/dist/
/Yahtzee_3/build/
/Yahtzee_4/build/
/Yahtzee_4/dist/
/F1/build/
/F1/dist/
